*{
  font-family: 'Hermes FB', 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
table {
	padding:5px;
}
td{
	padding:0 15px 0 15px;
	vertical-align: top;
}
li{

}
.one {
	width: 600px;
}
.two {
	width: 650px;
}
.container {
  padding: 5px;
}
.container li{
  list-style-type: none;
  padding-bottom: 10px;
  color:#CCCCCC;
}
label {
	display: inline-block;
	width: 300px;
	text-align: right;
	padding-right: 10px;
	color:#000000;
	vertical-align: top;
}
.one label {
	width: 250px;
}
.container li input {
	width: 240px;
	color:#000000;
}
::placeholder {
	color: #ccc;
}
.readonly {
	background: #EEEEEE;
	color: #999999;
}
.radio {
	color:#000;
}
h4 {
	font-size: 14px;
	background-color: #EEEEEE;
	font-weight: normal;
	margin-bottom: 10px;
}
DIV#input {
	word-wrap: break-word;
	max-width: 98%;
}
.required {
	color:red;
	font-weight: bold;
}
.btn {
	font-weight: bold;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	margin-bottom: 0;
	margin-left: 20px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 5px 16px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 10px;
	color: #fff;
	background-color: #0487d7;
	border-color: #0477be;
}
.callResult {
	background-color: #DAE8EC;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 2px solid #B8CB99;
	padding: 5px;
	margin-bottom: 5px;
	float: left;
	word-wrap: break-word;
}
.left {
  width: 610px;
}
.right {
  width: 790px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #D2D2D2;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
/* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}